
<header class="masthead" style="background-image: url(<%= asset_path 'home-bg.jpg' %>)">
<div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>以下の内容で送信する</h1>
            </div>
        </div>
    </div>
</div>
</header>

<%= form_with(model: @task,url: tasks_path, local: true) do |form| %>
  
  <%= form.hidden_field :name %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :deadline %>
  <%= form.hidden_field :status %>
  <%= form.hidden_field :rank %>

  <p>タイトル:<%= @task.name %></p>
  <p>本文:<%= @task.content %></p>
  <p>終了期限:<%= @task.deadline %></p>
  <p>ステータス:<%= @task.status %></p>
  <p>ランク:<%= @task.rank %></p>
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>

