<h1>Task一覧</h1>

<table>
  <tr>
    <th>名前</th>
    <th>内容</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.content %></td>
    <td><%= link_to '詳細を確認する', task_path(task.id) %></td>
    <%= link_to "taskを編集する", edit_task_path(id) %>
  </tr>
<% end %>
</table>

<%= link_to '新しくブログを投稿する', new_task_path %>