<h1>task詳細画面</h1>
<p><%= notice %></p>
<p>タイトル: <%= @task.name %></p>
<p>内容: <%= @task.content %></p>
<p>終了期限: <%= @task.deadline %></p>
<p>ステータス: <%= @task.status %></p>
<p>優先順位: <%= @task.rank %></p>