
<header class="masthead" style="background-image: url(<%= asset_path 'home-bg.jpg' %>)">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                <h1>task詳細画面</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<p><%= notice %></p>
<p>タイトル: <%= @task.name %></p>
<p>内容: <%= @task.content %></p>
<p>終了期限: <%= @task.deadline %></p>
<p>ステータス: <%= @task.status %></p>
<p>優先順位: <%= @task.rank %></p>