<h1><%= @user.name %>のタスク一覧</h1>

<tbody>
<% @tasks.each do |task| %>
    <td><%= task.name %></td>
    <td><%= task.content %></td>
    <td><%= task.deadline %></td>
    <td><%= task.status %></td>
    <td><%= task.rank %></td>
    <td><%= link_to '詳細を確認する', task_path(task.id) %></td>
    <td><%= link_to "taskを編集する", edit_task_path(task.id) %></td>
    <td><%= link_to 'ブログを削除する', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
</tbody>
<% end %>